<input type="submit" value="Show Users" (click)="changeCookie()" class="btn">
<div class="container" *ngIf="getObj('isLogin')">
  <ul>
    <li *ngFor="let user of names">
          <img [src]='user.photo' alt="photo">
          <h3>{{user.name}}</h3>
          <div class="info__block">
              <p><span>Login</span> : {{user.login}}</p>
              <p><span>Mail</span> : {{user.mail}}</p>
              <p><span>Password</span> : {{user.password}}</p>
          </div>
        <button class="btn-3" (click)="addToFriend(user)"><span>Add to friend</span></button>
    </li>
  </ul>
</div>
<input type="submit" value="REGISTER" (click)="toShow()" class="btn">
<div *ngIf="show" ><app-login-form></app-login-form></div>



